@import 'src/styles.scss';

.main-product-item {
  display: flex;
  background: $background-secondary-color;
  margin-bottom: 12px;
  cursor: pointer;
  max-height: 124px;
  border-radius: 10px;
}

.product-img {
  img {
  width: 100px;
  height: 124px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  }
}

.product-details {
  width: 60%;
  padding: 12px 0px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h3 {
    color: $text-color;
  }
}

.product-details-texts {
  .product-state {
    display: inline;
    color: $text-color;
    border-radius: 10px;
    padding: 3px 5px;
    font-weight: 700;
  }
  .product-enable {
    background-color: $enabled;
  }
  .product-disabled {
    background-color: $disabled;
  }
  .product-visible {
    background-color: $visible;
  }
}

.product-details-price {
  display: flex;
  align-items: center;
  div {
  img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  }

}

.arrow-icon-product {
  color: $white;
  margin: auto;
}

.disabled-switch {
margin-left: -9px;
margin-right: 15px;
}
