@import 'src/styles.scss';

.main-app {
  width: 100%;
  height: 100vh;
  background: $black;
  display: grid;
  place-items: center;
  font-family: Roboto, sans-serif;
}

.products-main-page {
  width: 428px;
  height: 926px;
  background: $background-primary-color;
  border-radius: 25px;
  padding: 24px;
}


